@use "variables" as *;

.header {
  background-color: var(--card-light);
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
  padding: 16px 24px;
  margin: 20px;

  .header__logo {
    display: flex;
    color: #111827;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    gap: 12px;

    .header__icon {
      background-color: #3b82f6;
      border-radius: 0.5rem;
      width: 2rem;
      height: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    svg {
      stroke: #ffffff;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  A &__branding {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__title {
    font-size: 20px;
    font-weight: 600;
    color: $text;
  }

  &__toggle {
    background-color: #f3f4f6;
    border: none;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    svg {
      color: #4b5563;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }

    .header__icon {
      width: 20px;
      height: 20px;
    }
  }

  .hidden {
    display: none !important;
  }

  @media (max-width: 430px) {
    .header__container {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

.dark-mode {
  .header {
    background-color: var(--card-dark);
    .header__logo {
      color: var(--text);
    }
    .header__toggle {
      background-color: #374151;
      svg {
        color: #9ca3af;
      }
    }
  }
}
