@use "variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-main;
  background-color: $background;
  color: $text;
  padding: 32px;
}

.app {
  max-width: 1440px;
  margin: auto;
  padding: 24px;
  background-color: $background;
  border-radius: $radius;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

@media (max-width: 1040px) {
  .app {
    max-width: 1040px;
    padding: 12px;
  }
}

@media (max-width: 430px) {
  .app {
    max-width: 430px;
    padding: 8px;
  }
}
