/* DARK MODE */
:root {
  --font-main: "Inter", sans-serif;
  --radius: 8px;
  --primary: #3b82f6;
  --accent: #3b82f6;
  --white: #ffffff;
  --text: #f1f5f9;
  --placeholder: #94a3b8;
  --background: #0f172a;
  --card: #1e293b;
  --input-bg: #334155;
  --grey: #64748b;
  --grey-light: #cbd5e1;
}

body.dark-mode {
  --primary: #3b82f6;
  --white: #ffffff;
  --text: #0f172a;
  --placeholder: #94a3b8;
  --background: #cbd5e1;
  --card: #64748b;
  --input-bg: white;
  --grey: #64748b;
  --grey-light: #cbd5e1;

  /*

$primary: #3b82f6; //OK
$accent: $primary; //OK
$white: #ffffff;
$text: #f1f5f9; // #0f172a;
$placeholder: #94a3b8; //OK
$background: #0f172a; // #64748b;
$card: #1e293b; // #ffffff;
$input-bg: #334155;
$grey: #64748b; // OK
$grey-light: #cbd5e1; */
}

$primary: var(--primary);
$accent: $primary;
$white: var(--white);
$text: var(--text);
$placeholder: var(--placeholder);
$background: var(--background);
$card: var(--card);
$input-bg: var(--input-bg);
$grey: var(--grey);
$grey-light: var(--grey-light);

/* LIGHT MODE 


$primary: #3b82f6; //OK
$accent: $primary; //OK
$white: #ffffff;
$text: #f1f5f9; // #0f172a;
$placeholder: #94a3b8; //OK
$background: #0f172a; // #64748b;
$card: #1e293b; // #ffffff;
$input-bg: #334155;
$grey: #64748b; // OK
$grey-light: #cbd5e1; */

/* ALL MODES */

$radius: 12px;
$radius-sm: 6px;
$font-main: "Poppins", sans-serif;
